<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2012 Dmitry Tikhomirov.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v3.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/gpl.html
  
  Contributors:
      Dmitry Tikhomirov - initial API and implementation
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
 					http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
 id="Opensheet" version="2.5">


 <display-name> Opensheet  v 0.2 </display-name>
 
 
 	<listener>
  	  <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<context-param>
   	 <param-name>log4jConfigLocation</param-name>
   	 <param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
 
 
 	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
	  	/WEB-INF/spring-security.xml 
		/WEB-INF/applicationContext.xml
		</param-value>
	</context-param>
  
 <listener>
 	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
  
  <listener>
    <listener-class>
        org.springframework.web.context.request.RequestContextListener
    </listener-class>
  </listener>
  
  <servlet>
 	<servlet-name>springGwtRemoteServiceServlet</servlet-name>
 	<servlet-class>org.spring4gwt.server.SpringGwtRemoteServiceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>springGwtRemoteServiceServlet</servlet-name>
   <url-pattern>/opensheet/service/*</url-pattern>
  </servlet-mapping>
  
   
	

	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
	    <servlet-name>springmvc</servlet-name>
  	    <url-pattern>*.htm</url-pattern>
    </servlet-mapping>


	<filter>
   		 <filter-name>springSecurityFilterChain</filter-name>
  	     <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
  	     <filter-name>springSecurityFilterChain</filter-name>
  	     <url-pattern>/*</url-pattern>
    </filter-mapping>
  
     <welcome-file-list>
    	<welcome-file>Opensheet.htm</welcome-file>
    </welcome-file-list>

	<session-config>
	    <session-timeout>25</session-timeout>
	</session-config>
	
</web-app>
